.Fourth_section {
    background-image: url(/src/images/fourth_section_new.png);
    /* height: 100vh; */
    background-size: cover;
    position: relative;
    padding-bottom: 40px;
    box-shadow: 0 10px 20px 10px black;
    padding-bottom: 50px;
}

.Benifits {
    text-align: center;
    font-size: 30px; /* Added px for proper sizing */
    font-weight: 300;
    margin-bottom: 20px;
    padding-top: 20px;
}

.flex_displaying_cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
   
    position: relative;
    z-index: 1; /* Ensure cards are above the image */
}

.displaying_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bottom-right-image1{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 561px;
    width: 300px;
    filter: brightness(60%);
    z-index: 0; /* Ensure image is below the cards */
}

@media (max-width: 390px) {
    .displaying_cards {
        flex-direction: column; /* Change to column layout on smaller screens */
    }

    .bottom-right-image1 {
        display: none; /* Hide the image on smaller screens */
    }
    .Benifits {
        font-size: 20px; /* Decrease font size for smaller screens */
    }
    .displaying_cards {
        flex-direction: column; /* Change to column layout on smaller screens */
        gap: 10px; /* Decrease space between cards */
    }
    .glass_card_4th {
        background-color: #ffffff10;
        backdrop-filter: blue(12px);
        -webkit-backdrop-filter: blur(12px);
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        /* padding: 20px; */
        width: 274px;
        height: 138px;
        padding: 30px 20px 92px 19px;
        gap: 20px;
        border-radius: 24px;
        border-bottom: 8px solid #20335E;
    }
}
