.third_section {
    background-image: url(/src/images/thirdsectionbg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-shadow: 0 10px 20px 10px black;
    padding: 20px;
}

.p_3rd {
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    font-weight: 300;
    max-width: 100%;
    padding: 0 20px;
    overflow-wrap: break-word; /* Ensure text wraps within its container */
}

.About_us {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
}

.third_button {
    text-align: center;
    margin-bottom: 20px; /* Decreased margin for smaller screens */
}

.third_button button {
    cursor: pointer;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #20335e;
    border: none;
    border-radius: 10px;
}

@media (max-width: 390px) {
    .third_section {
        padding: 10px;
        gap: 15px;
    }

    .p_3rd {
        font-size: 7px;
        line-height: 10px;
    }

    .About_us {
        font-size: 13px;
    }

    .third_button button {
        font-size: 12px;
    }
}
