.Fifth_section{
    background-image: url(/src/images/fivth_bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    box-shadow: 0 10px 20px 10px black;
    /* margin-bottom: 50px; */
    padding-bottom: 50px;
}

.fifthsection_card_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}