.footer_section {
    padding: 30px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer_top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  
  .social_icons a {
    margin: 0 10px;
    font-size: 24px;
    color: #ffffff;
  }
  
  .footer_links a {
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer_bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    align-items: center;
  }
  
  .bottom_links a {
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
  }
  
.footer_hr{
    width: 100%;
}

@media (max-width: 390px) {
  .footer_top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* max-width: 1300px; */
  }

  .social_icons a {
      margin: 0 10px; /* Reset margin for larger screens */
      font-size: 18px; /* Reset font size for larger screens */
  }

  .footer_links a {
      margin: 0 15px; /* Reset margin for larger screens */
      font-size: 13px;
  }

  .footer_bottom {
      flex-direction: row; /* Change back to row for larger screens */
  }

  .bottom_links a {
      margin: 0 15px; /* Reset margin for larger screens */
  }

  .footer_hr {
      margin: 0; /* Reset margin for larger screens */
  }
}