.container1{
    background-image: url('/src/images/2ndsectionbg.png');
    background-size: cover;
    height: 100vh;
    /* background-color: #f0f0f0; */
    box-shadow: 0 10px 20px 10px black;
    filter: blur(100%);
    filter: brightness(80%)
}
.image_size{
    height: 80px;
}
.card_2nd_item{
    background-color: #ffffff10;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* margin: 20px; */
    height: 616px;
    /* width: 1203px; */
    backdrop-filter: blue(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;

}
.h1_text2{
    max-width: 600px;
    font-size: 30px;
    text-align: center;
}

@media (max-width: 390px) {
    .container1 {
        height: auto;
        padding: 20px;
    }

    .card_2nd_item {
        width: 100%;
        padding: 15px;
    }

    .h1_text2 {
        font-size: 18px; /* Decrease font size */
        max-width: 100%; /* Ensure text container is responsive */
    }

    .image_size {
        height: 60px; /* Decrease image size */
    }
}